nav {
    border-bottom-style: double;
    border-color: teal;
}

.highlight {
    background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), teal 80%, rgba(255, 255, 255, 0));
}

body {
    background-color: aliceblue;
  }

h1 {
    color: teal;
}

.container {
    background-color: white;
    width: 50%;
    padding: 30px;
    margin: 20px;
   }

.right {
    position: absolute;
    float: right;
}

img {
    margin: 20px;
   }

.parent {
    position: relative;
}

.text-block {
    background-color: teal;
    color: white;
    text-align: center;
    padding: 5px;
    width: 150px;
    height: 40px;
    position: absolute;
    bottom: 35px;
    left: 35px;
    }

footer {
    position: fixed;
    bottom: 0px;
    margin: 0px;
    background-color: #f8f9fa;
    height: 50px;
    width: 100%;
    padding: 10px;
    border-top-style: solid;
    border-color: teal;
   }