
body {
    background-color: aliceblue;
  }

h1 {
    color: teal;
}

.container {
    background-color: white;
    width: 700px;
    padding: 30px;
    margin: 20px;
    border: 10px;
    border-color: black;
}

#pic {
    margin: 20px;
}

footer {
    position: relative;
    margin: 0px;
    background-color: #f8f9fa;
    height: 50px;
    width: 100%;
    padding: 10px;
}

