/*Header*/
#masthead {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    background: #f8f9fa;
    border-bottom-style: double;
    border-color: teal;
}

nav {
    float: right;
    margin: 10px 20px;
}

nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
}

.highlight {
    float: left;
    width: 450px;
    height: 50px;
    text-align: center;
    background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), rgb(115, 192, 192) 85%, rgba(255, 255, 255, 0));
}

a {
    color: rgb(99, 98, 98);
}

/*Header End*/

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
    50% {
      background-color: rgb(115, 192, 192);
    }
  }
  @keyframes hvr-back-pulse {
    50% {
      background-color: rgb(115, 192, 192);
    }
  }
  .hvr-back-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: rgb(115, 192, 192);
    background-color: rgb(115, 192, 192);
    color: white;
  }
/* Back Pulse End*/


body {
    background-color: aliceblue;
    font-family: 'Zilla Slab', serif;
  }

h1 {
    color: teal;
}

.container {
    margin: 80px 0 0 20px;
    padding: 25px;
    background-color:#f8f9fa;
}

.aboutcontainer {
    width: 200px;
}

/*About Me*/
.img-responsive {
    width: 300px;
   padding-right: 20px;
    float: left;
}

.media-body {
    padding: 20px;
    float: left;
}

.about {
    float: right;
}
/*About Me End*/

/*Portfolio*/
.text-block {
    background-color: teal;
    color: white;
    text-align: center;
    padding: 5px;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 35px;
    left: 0px;
    }

    .card {
        margin: 10px;
    }
/*Portfolio End*/


.footer {
    position: fixed;
    bottom: 0px;
    margin: 20px 0 0 0;
    background-color: #f8f9fa;
    height: 50px;
    width: 100%;
    padding: 10px;
    border-top-style: solid;
    border-color: teal;
   }

/* For mobile phones: */

@media only screen and (max-width: 640px) {
   .container {
    margin: 120px 10px 0 10px; 
    width: 470px;
}
    .highlight {
    float: left;
}